html {
    box-sizing: border-box;
    font-family: $fontDefault;
    font-weight: 400;
    color: $colorBlack;
}

body {
    min-height: 100vh;
    margin: 0;
    background-image: url('/images/background-light.png');
    @include fluid(font-size, 16px);
    @include fluid(line-height, 24px);
}

*::selection {
    background-color: transparent;
    color: $colorYellow;
}

*::-moz-selection {
    background-color: transparent;
    color: $colorYellow;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba($colorBlack, 0);
    outline: none;
}

div {
    display: block;
}

img,
picture {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

b,
strong {
    font-weight: 700;
}

button {
    padding: 0;
    border: none;
}
