/* ===========================================================
        Horizontal Spacing.
=========================================================== */
.default-padding {
    padding: 0 fluid(40px);

    @include noMoreFluid {
        padding: 0 40px;
    }

    @include mobileLargeMax {
        padding: 0 20px;
    }
}

/* ===========================================================
        Vertical Spacing.
=========================================================== */
.default-spacing-margin {
    @include fluid(margin-top, 60px);
    @include fluid(margin-bottom, 60px);

    @include mobileLargeMax {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.default-spacing-padding {
    @include fluid(padding-top, 80px);
    @include fluid(padding-bottom, 80px);

    @include mobileLargeMax {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/* ===========================================================
        Widths.
=========================================================== */
.default-max-width {
    @include fluid(max-width, $containerMaxWidth);
}

.default-max-width-medium {
    @include fluid(max-width, $containerMediumMaxWidth);
}

.default-max-width-medium-small {
    @include fluid(max-width, $containerMediumSmallMaxWidth);
}

.default-max-width-small {
    @include fluid(max-width, $containerSmallMaxWidth);
}

.default-max-width-text {
    @include fluid(max-width, $textMaxWidth);
}

/* ===========================================================
        Alignments.
=========================================================== */
.centered {
    margin: 0 auto;
}

.relative {
    position: relative;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

/* ===========================================================
        Text Formatting.
=========================================================== */
.text-centered {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.default-text {
    @include fluid(font-size, 16px);
    @include fluid(line-height, 24px);
    color: $fontDefault;
    font-weight: 400;

    &--medium-large {
        @include fluid(font-size, 18px);
        @include fluid(line-height, 29px);
    }

    &--large {
        @include fluid(font-size, 24px);
        @include fluid(line-height, 35px);
    }
}

/* ===========================================================
        Buttons.
=========================================================== */
.button {
    display: inline-block;
    position: relative;
    @include fluid(padding-top, 10px);
    @include fluid(padding-right, 10px);
    @include fluid(padding-bottom, 10px);
    @include fluid(padding-left, 10px);
    border: solid $colorWhite;
    @include fluid(border-width, 1px);

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: solid transparent;
        @include fluid(border-width, 1.5px);
    }

    &::before {
        top: 0;
        left: 0;
        animation: button-before-reverse-animation 0.5s ease-in forwards;
    }

    &::after {
        bottom: 0;
        right: 0;
        animation: button-after-reverse-animation 0.5s ease-in forwards;
    }

    &:hover {
        &::before {
            animation: button-before-animation 0.5s ease-in forwards;
        }

        &::after {
            animation: button-after-animation 0.5s ease-in forwards;
        }
    }

    &--no-animation::before,
    &--no-animation::after {
        animation: none !important;
    }
}

@keyframes button-before-animation {
    from {
        width: 0;
        height: 0;
        border-top-color: $colorWhite;
        border-left-color: $colorWhite;
    }

    to {
        width: 100%;
        height: 100%;
        border-top-color: $colorWhite;
        border-left-color: $colorWhite;
    }
}

@keyframes button-before-reverse-animation {
    0% {
        width: 100%;
        height: 100%;
        border-top-color: $colorWhite;
        border-left-color: $colorWhite;
    }

    99% {
        width: 0;
        height: 0;
        border-top-color: $colorWhite;
        border-left-color: $colorWhite;
    }

    100% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-left-color: transparent;
    }
}

@keyframes button-after-animation {
    from {
        width: 0;
        height: 0;
        border-bottom-color: $colorWhite;
        border-right-color: $colorWhite;
    }

    to {
        width: 100%;
        height: 100%;
        border-bottom-color: $colorWhite;
        border-right-color: $colorWhite;
    }
}

@keyframes button-after-reverse-animation {
    0% {
        width: 100%;
        height: 100%;
        border-bottom-color: $colorWhite;
        border-right-color: $colorWhite;
    }

    99% {
        width: 0;
        height: 0;
        border-bottom-color: $colorWhite;
        border-right-color: $colorWhite;
    }

    100% {
        width: 0;
        height: 0;
        border-bottom-color: transparent;
        border-right-color: transparent;
    }
}
